{% extends "main.html" %}

{% block search_url %}{% url search protocol,account.uid,other_account.uid  %}{% endblock %}

{% block header %}<h2>Chat transcript with {{ other_account.full_name }} ({{ other_account.uid }})</h2>{% endblock %}

{% block navlink %}
<a href="{% url other_account_list account.protocol,account.uid %}">
    Back to {{account.full_name}} ({{account.protocol}})
</a>
{% endblock %}

{% block content %}
<div id="conversations">
    {% for conversation in conversations %}
        <div class="conversation">
            {% for message in conversation %}
            <div class="message {% ifequal message.sender.uid other_account.uid %}sent{% endifequal %} {% ifequal message.receiver other_account %}received{% endifequal %}">
                <div class="message_info">
                    <span class="message_timestamp">{{message.timestamp}}</span>
                    <span class="message_sender">{{message.sender.full_name}}: <span>
                </div>
                <div class="message_text">
                    <span class="message_text">{{message.text}}</span>
                </div>
            </div>        
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}