div#messages {
    
}

div#main_content {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #C96;
	padding-bottom: 5px;
}

div#search_box {
	display: none;
}

div#list_header {
    background-color: #80997B;
    width: 100%;
}

div#list_header>h2 {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: inline;
}

div#nav {
	text-align: right;
	width: 100%;
	background-color: lightgrey;
}

div#nav>a {
	margin-right: 10px;
}

div.message {
    padding-left: 5px;
}

div.conversation {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 1px solid black;
	margin: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: lightgrey;
}

div.sent {
    background-color: lightyellow;
}

div.received {
    background-color: lightgrey;
}

div.search_result {
	background-color: lightblue;
}

span.message_sender, span.message_timestamp {
    font-style: italic;
    font-size: 11px;
}

span.message_timestamp {
    font-weight: bold;
}

ul.account_list {
	margin-left: 0px;
	padding-left: 0px;
}

ul.account_list>li {
	list-style-type: none;
	background-color: lightyellow;
	border: 1px solid black;
	margin: 10px;
	padding: 3px;
	width: 50%;
}

ul.account_list>li>a {
	text-decoration: none;
	color: black;	
}

a {
	color: blue;
}

a#close_search {
	text-decoration: none;
}

div#search_box>h2 {
	display: inline;
}